/*Write your Own Css Here*/

body{
    counter-reset: salah;
}
::-webkit-scrollbar {
    display: none;
  }
/* .btn-1.btn-circle.btn-sm{ */
    /* pointer-events: painted; */
    /* } */
    /* .btn-1.btn-circle.btn-sm{
        counter-increment: salah;
        cursor: pointer;
        
    } */
    .why-left-2{
        display: none;
    }
    .show-more{
        /* animation: slidIm0 2s !important; */
        /* height:10px !important; */
        display: block !important;
        /* visibility: hidden; */
        transition-property: all;
        transition-duration:1.5s ;
        transform: translateY(-50px);
        transform: translateY(2%);
    }
    
    @keyframes slidIm0{
        0%{

        }
        100%  {
            height:10px !important;


        }
    }

    .btn-1.btn-circle.btn-sm:focus{

        .service-desc-2 p {
            display: block;
        
        }    /* content: counter(salah); */
    }
    .service-desc-2 p {
        display: none;
    
    }
    .bty {
        width: 42px;
        height: 42px;
        background-color: #9dcf94;
        border: 1px #fff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: all .5s;
        display: flex;
        position: relative;
        top: -11px;
        left: 9px;
        z-index: -1;
    }
    .navbar-toggler {
        width: 24px !important;}
.contact-pix{
    background-image: var(--clr-gradient-5);
    max-height: 20%;
    border-radius: 2rem;
}
.contact-pix img{
    

    width: 21%;
    transform: translateX(-50%);
}
.nav-link{
    /* pointer-events: none; */
    cursor: pointer;

}
.navbar-toggler-icon,.navbar-toggler-icon::after,.navbar-toggler-icon::before{
    background-color:#ffffff96 !important;

}

.bsnav-sticky.bsnav-sticky-slide {
    position: absolute;
    top: 0;
    border-radius: 30px;
}


.preloader{
    display: none;
}


@media  (max-width: 767px){

    
    .bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-brand img {
        
        width: 70%;
        
        
    }
    .bsnav-mobile .navbar {
        padding: 127px 0 15px !important; }
    
}
.bsnav-mobile.in .navbar {
    background-image: var(--clr-gradient-5);
    animation-name: navw;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}